[project]
	description = Apache Cassandra multiplatform cluster support
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yuvalk
[access "refs/for/refs/*"]
	read = group user/yuvalk
	push = group user/yuvalk
	label-Code-Review = -2..+2 group user/yuvalk
	label-Verified = -1..+1 group user/yuvalk
	rebase = group user/yuvalk
	removeReviewer = group user/yuvalk
	submit = group user/yuvalk
[access "refs/heads/*"]
	read = group user/yuvalk
	create = group user/yuvalk
	push = +force group user/yuvalk
	pushMerge = group user/yuvalk
[access "refs/tags/*"]
	push = group user/yuvalk
	push = +force group user/yuvalk
